.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish: hsl(240, 5%, 91%);
}

html {
  /* height: 100vh; */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue))
    no-repeat;
  background-size: cover;

  /* min-height: 100vh; */
}

h1,
dd {
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  background: white;
  border-radius: 2em;

  margin: 9.375rem 1.5rem 5.3125rem 1.5rem;
  padding: 0 1.6875rem 3.125rem 1.6875rem;
}

/* WOMAN COMPUTER */
.box__images {
  background: url("../images/bg-pattern-mobile.svg") no-repeat;

  height: 9.58em;
  width: 25em;

  background-position: top center;
  left: 50%;
}

.box__woman {
  background: url("../images/illustration-woman-online-mobile.svg") no-repeat;

  height: 16.67em;
  width: 25em;

  position: relative;
  top: -95%;
}

/* TITLE OF THE BOX */
.box__title {
  margin-bottom: 1.2rem;

  text-align: center;
  font-size: 2rem;
  font-weight: 700;

  color: var(--dark-blue);
}

/* ACCORDEON */

.box__term {
  display: flex;
  font-size: 1.12em;
  font-weight: 400;
  color: var(--very-grayish-blue);
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.box__term--big {
  display: flex;
  font-size: 1.12em;
  font-weight: 400;
  color: var(--very-grayish-blue);
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.box__term.ativo {
  color: var(--dark-blue);
  font-weight: 700;
  padding-bottom: 0;
}

.box__term--big.ativo {
  color: var(--dark-blue);
  font-weight: 700;
}

.box__term::after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background: url(../images/icon-arrow-down.svg) no-repeat;
}

.box__term--big::after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background: url(../images/icon-arrow-down.svg) no-repeat;
}

.box__term.ativo::after {
  transform: rotate(180deg);
}

.box__term--big.ativo::after {
  transform: rotate(180deg);
}
.box__description {
  color: var(--dark-grayish-blue);
  line-height: 1.5em;
  font-weight: 400;

  height: 0;
  margin: 0;
  overflow: hidden;
  width: 90%;
}

.box__description.ativo {
  height: 34px;
  margin: 0.8em 0em 1.5em 0;
}

.box__description--big {
  height: 70px;
}

.box__divisor {
  position: relative;
}

.box__divisor::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--light-grayish);
}
