.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, var(--soft-violet), var(--soft-blue))
    no-repeat;
  background-size: cover;
}

h1,
dd {
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  background: white;
  border-radius: 2em;

  margin: 3rem 1.5rem 0 1.5rem;
  padding: 0 1.6875rem 3.125rem 1.6875rem;
}

/* WOMAN COMPUTER */
.box__images {
  background: url("../images/bg-pattern-mobile.svg") no-repeat;

  height: 9.58em;
  width: 25em;

  background-position: top center;
  left: 50%;
}

.box__woman {
  background: url("../images/illustration-woman-online-mobile.svg") no-repeat;

  height: 16.67em;
  width: 25em;

  position: relative;
  top: -95%;
}

/* TITLE OF THE BOX */
.box__title {
  margin-bottom: 1.2rem;

  text-align: center;
  font-size: 2rem;
  font-weight: 700;

  color: var(--dark-blue);
}

/* ACCORDEON */
.box2 {
  width: 100%;
}
.box__term {
  cursor: pointer;
  display: flex;

  font-size: 1.12em;
  font-weight: 400;

  color: var(--very-grayish-blue);
  padding: 1rem 0;

  justify-content: space-between;
  align-items: center;
}

.box__term:hover {
  color: var(--soft-red);
}

.box__term.ativo {
  cursor: pointer;
  color: var(--dark-blue);
  font-weight: 700;
  /* padding-bottom: 0; */
}
.box__term.ativo:hover {
  color: var(--soft-red);
}

.box__term::after {
  content: "";

  width: 0.625rem;
  height: 0.625rem;

  background: url(../images/icon-arrow-down.svg) no-repeat;
}

.box__term.ativo::after {
  transform: rotate(180deg);
}

.box__description {
  color: var(--dark-grayish-blue);

  line-height: 1.5em;
  font-weight: 400;

  width: 90%;
  height: 0;
  margin: 0;

  overflow: hidden;
  transition: height 0.3s ease-out;
}

.box__description.ativo {
  height: 52px;
  margin: 0.8em 0em 1.5em 0;
  /* animation: teste 0.5s ease-in-out; */
}

.box__divisor {
  position: relative;
}

.box__divisor::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--light-grayish);
}

/* @media screen and (max-height: 560px) {
  .box__images {
    display: none;
  }
  .box {
    max-height: 400px;
    max-width: 500px;

    left: 50%;
    transform: translateX(-50%);
  }
  .box__description.ativo {
    height: 40px;
    margin: 0;
  }
} */
@media screen and (min-width: 600px) {
  /* .box__woman {
    background: none;
  }
  .box {
    margin: 0;
    width: 600px;
    height: 500px;
  } */
}
@media screen and (min-width: 768px) {
  /* ADJUSTING THE BIG BOX */

  .box {
    top: 50%;
    transform: translateY(-50%);
  }

  .box__description.ativo {
    height: 30px;
    margin: 0;
  }
}
@media screen and (min-width: 900px) {
  /* ADJUSTING THE BIG BOX */
  .box {
    background: url("../images/bg-pattern-desktop.svg") no-repeat, white;
    background-size: 49.2rem 50.438rem;
    background-position: top 62% left -288%, top 0 left 0px;

    padding: 0;

    flex-direction: row;
    align-content: center;

    max-width: 57.8125rem;
    max-height: 31.875rem;

    padding-bottom: 5.3125rem;
    padding-right: 5.9375rem;
    padding-top: 4.375rem;
  }

  /* WOMAN COMPUTER */
  .box__images {
    overflow: hidden;

    width: 22rem;
    height: 23rem;
    background: none;
    flex: 1;
  }

  .box__woman {
    background: url("../images/illustration-woman-online-desktop.svg") no-repeat;
    top: 0;
    left: -16%;
    width: 30rem;
    height: 22.625rem;
    /* max-width: 100%; */
  }
  .box__title {
    margin-top: 0;
    text-align: left;
  }
  .box2 {
    /* flex: 1; */
    width: 350px;
    /* padding: 4.5625rem 5.9375rem 5.125rem 0; */
  }

  .box__description.ativo {
    height: 60px;
    /* animation: teste2 0.5s ease-in; */
    margin: 0;
  }

  /* POSITIONING THE LITTLE BOX */
  .little-box {
    background: url("../images/illustration-box-desktop.svg");
    width: 191px;
    height: 184px;
    position: absolute;
    z-index: 1;
    top: 197px;
    right: 826px;
  }
}

@media screen and (min-width: 968px) {
  .box {
    /* overflow: hidden; */

    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
